[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"
httpx = "*"
typing-extensions = "*"

[dev-packages]
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
flake8-print = "*"
flake8-annotations = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-env = "*"
alembic = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.11"

[scripts]
lint = "bash -c \"flake8 --config setup.cfg ; mypy src tests alembic/dev/versions\""
code-format = "bash -c \"black src tests alembic/dev/versions ; isort . --sp setup.cfg\""
test = "pytest --verbose"
db-migrate = "alembic -c alembic.ini upgrade head"
