[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
python-dotenv = "*"
requests = "*"
httpx = "*"

[dev-packages]
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
flake8-print = "*"
flake8-annotations = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-asyncio = "*"
alembic = "*"
black = "*"
mypy = "*"
typing-extensions = "*"

[requires]
python_version = "3.11"

[scripts]
lint = "bash -c \"flake8 --config setup.cfg ; mypy src tests alembic/dev/versions\""
code-format = "bash -c \"black src tests alembic/dev/versions ; isort . --sp setup.cfg\""
test = "bash -c \"alembic -c tests/alembic-test.ini downgrade base ; alembic -c tests/alembic-test.ini upgrade head ; pytest\""
