[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
flake8-print = "*"
flake8-annotations = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
alembic = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "flake8 --config setup.cfg"
code-format = "isort ."
test = "pytest --verbose"
db-migrate = "alembic upgrade head"
